html, body, #wrapper {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
#wrapper td {
  vertical-align: middle;
  text-align: center;
}
input {
  font-family: "Arial", Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.border {
  border: 2px solid #cccccc;
  border-radius: 5px;
}
.border:focus {
  outline: none;
  border-color: #8ecaed;
  box-shadow: 0 0 5px #8ecaed;
}
