$white: #fff;
$black: #000;
$silver: #c0c0c0;

body {
  overflow: hidden;
}

div {
  height: 720PX;
  width: 1280PX;
  text-align: center;
  border: 0 solid $silver;
  display: table-cell;
  vertical-align: middle;
  color: $white;
  background-color: $black;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 40px;
}
